.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  min-height: 100vh;
}

.intro {
  justify-content: inherit;
  align-items: inherit;
  font-size: 8rem;
  width: 100%;
  padding-left: 6rem;
  padding-top: 30rem;
  font-family: var(--font-Monaco);
}

.intro p {
  width: 70%;
  color: #808080;
  font-size: 2rem;
}

.intro p:hover {
  color: #2c9be6;
}
