.footer {
  position: absolute;
  bottom: 5rem;
  left: 95rem;
  z-index: var(--z-fixed);
}
.learnMoreBtn {
  background-color: white;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  border-radius: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
